#renderCanvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    outline: none;
    position: absolute;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
}

#navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#navbar a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 20px;
}

#navbar a:hover {
    color: #ddd;
}

#currentPlayer {
    position: absolute; /* This positions the div relative to the nearest positioned ancestor */
    top: 50px; /* This positions the div 10px from the top of the canvas */
    left: 50px; /* This positions the div 10px from the left of the canvas */
    height: auto;
    width: auto;    
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #e62e2e;
}